<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Preferecias para Formulario</v-subheader>
            </v-flex>

            <v-flex xs12>
                <v-card>

                  <v-container>
                    <alerts ref="Alerts"> </alerts>
                    <v-card-title class="darken-2">
                        <span v-show="read ==true" class="title font-weight-light ">Para Cambiar Preferencias, 'Click' en 'Editar Preferencias'.</span>
                        <span v-show="read ==false" class="title font-weight-light ">Cambiar datos, luego 'Click' en 'Actualizar'</span>
                        <v-spacer/>
                        <v-btn @click="dialogImage()" right
                        color="black" class="ma-1 white--text"
                        > Cambiar imagen De Formulario
                        </v-btn>
                    </v-card-title>
                      <v-radio-group
                        v-model="agent.agent_name"
                        row
                      >
                        <v-radio
                          label="Usar nombre completo"
                          value="name"
                        ></v-radio>
                        <v-radio
                          label="Usar Nombre usuario LocalBitcoin"
                          value="username"
                        ></v-radio>
                      </v-radio-group>
                      <v-row class="mx-2">
                        <v-col cols="12" md="6">
                            <v-text-field type="text" :readonly="read" v-model="agent.agent_web" label="Ingrese su direccion Url (www) "
                                placeholder="Url de su Web" append-outer-icon="mdi-web-box"
                            />
                        </v-col>
                        <v-col cols="10" md="3">
                            <v-text-field type="text" :readonly="read" v-model="agent.header_description" label="Texto de complemento de Membrete"
                                placeholder="Ingrese texto Corto" :rules="[rules.textMax]"
                            />
                        </v-col>

                        <v-col cols="10" md="6">
                            <v-text-field type="text" :readonly="read" v-model="agent.sb_left"
                                placeholder="Ingrese Nota Corta" label="Nota Corta para el Lado Izquierdo de la pagina"
                                append-outer-icon="mdi-format-line-weight"
                                :rules="[rules.noteMax]"
                            />
                        </v-col>

                        <v-col cols="10">
                            <v-text-field type="text" :readonly="read" v-model="agent.instagram"
                                placeholder="Instagram" label="Ingrese url instagram de publicidad" append-outer-icon="mdi-instagram"
                            />
                        </v-col>

                        <v-col cols="10">
                            <v-text-field type="text" :readonly="read" v-model="agent.facebook"
                                placeholder="Facebook" label="Ingrese url Facebook de publicidad" append-outer-icon="mdi-facebook"
                            />
                        </v-col>

                        <v-col cols="10">
                            <v-text-field type="text" :readonly="read" v-model="agent.twitter"
                                placeholder="twitter" label="Ingrese url de su twitter" append-outer-icon="mdi-twitter"
                            />
                        </v-col>

                      </v-row>
                      <v-card-actions>
                        <v-btn right color="primary" v-show="read ==true" @click="inactive()">Editar Datos de Formularion</v-btn>
                        <v-btn  text color="primary" v-show="read == false"  @click="activate()" > Cancelar</v-btn>
                        <v-btn text v-show="read == false" @click="updatePreferences(p)" >Actualizar Preferencias</v-btn>
                      </v-card-actions>

                    </v-container>
                </v-card>

                <v-row class="mx-2">
                    <v-container grid-list-xs>
                        <v-dialog v-model="dialog" max-width="70%">
                            <v-card>
                                <v-card-title class="yellow darken-3 white--text">
                                    Guardar Imagen
                                </v-card-title>
                                <v-row class="mx-2">
                                    <v-col cols="12" md="6">
                                        <v-file-input v-model="file" show-size filled
                                            :rules="images" accept="image/png, image/jpeg"
                                            placeholder="Insertar imagen JPG / PNG " prepend-icon="mdi-camera"
                                            label="Imagen a usar de fondo en el formulario"
                                        ></v-file-input>
                                    </v-col>
                                </v-row>
                                <v-card-actions>
                                    <v-btn  text color="primary"
                                        @click="dialog = false" > Cancelar</v-btn>
                                    <v-btn :disabled="!file" :loading="saving" text @click="uploadImage()" >Cargar Imagen</v-btn>
                                </v-card-actions>
                            </v-card>
                            </v-dialog>
                    </v-container>

                </v-row>
            </v-flex>
        </v-container>
    </v-layout>

</template>

<script>
// import apis from '../../helpers/agent.js'
export default {
        data() {
            return {
                id:0,
                name:'',
                username:'',
                email:'',
                phone:'',
                wallet_num:'',
                active:0,
                password:'',
                confirm_pass:'',
                no_phone: false,
                read:true,
                dialog: false,
                agent: {},
                user: {},
                show1: false,
                show2: false,
                loading: false,
                saving: false,
                rules: {
                    required: value => !!value || 'Campo Requerido.',
                    textMin: value => (!value || value.length >= 8) || 'Minimo 8 Caracteres',
                    textMax: v => v.length <= 100 || 'Max 100 Caracteres',
                    noteMax: v => v.length <= 25 || 'Max 25 Caracteres'
                },
                images: [
                    value => (!value || !value.size < 1000000) || 'El tamaño del archivo debe ser menor a 1 MB!',
                ],
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            },
            verifypass(){
                let me = this
                if (me.password != me.confirm_pass || !me.password) {
                    return true
                } else {
                    return false
                }
            },
        },
        methods: {
            index() {
                let me = this;
                me.user = me.currentUser;
                axios
                    .get(`/api/agents/edit/${me.user.agent_id}`)
                    .then(response => {
                        me.agent = response.data.agent;
                })
                .catch(error => console.log(error))
            },
            updatePreferences(agent) {
                let me =this;
                me.loading = true
                agent._method = 'put'

                axios.post('/api/agent-preferences-store/', agent)
                    .then(response => {
                        Swal.fire(
                        'Exito!',
                        'Actualizado.',
                        'success'
                        )
                        me.agent={};
                        me.read = true;
                    })
                    .catch(error => console.log(error))
                    .finally(() => me.loading = false)
            },
            dialogImage(){
                let me = this
                me.password = ''
                me.confirm_pass = ''
                me.dialog = true;

            },
            uploadImage(){
                let me = this
                me.saving = true
                axios.post(`/api/agents/password/${me.user.agent_id}`,{
                    '_method': 'put',
                    'password': me.password
                }).then((res) => {
                        me.alert(3,res.data.message)
                        me.password = '';
                        me.confirm_pass='';
                        me.index();
                        me.dialog = false;
                    })
                    .catch((err) => {
                        me.alert(4,err)
                    })
                    .finally(() => me.saving = false);
            },
            inactive(){
                let me =this;
                me.read = false
            },
            activate(){
                let me =this;
                me.read = true
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
