<template>
  <v-app id="inspire">
      <v-container class="full-height" fluid >
        <v-row
          align="center"
          justify="center"
        >
          <v-col cols="12">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark >
                <v-toolbar-title>Registrarse en CoinTrato</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
                <v-row class="mx-2">
                <v-col class="align-center justify-space-between" cols="12">
                    <v-row align="center" class="mr-0">
                        <v-avatar size="40px" class="mx-3">
                            <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" alt="">
                        </v-avatar>
                        <v-col cols="8">
                            <v-text-field type="text" v-model="agent.name"
                                placeholder="Nombre completo" label="Nombre completo"
                            />
                        </v-col>
                        <v-col cols="6">
                            <span style="color:red;" v-show="username">Usuario de LocalBitcoin ya registrado</span>
                            <v-text-field type="text" v-model="agent.username" label="Su Usuario LocalBitcoin"
                                placeholder="Nombre de Usuario 'USERNAME' en LocalBitcoin" @input="verifyUser(agent.username)"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field type="text" v-model="agent.phone"
                                placeholder="Telefono" label="Ingrese Telefono"
                            />
                        </v-col>
                        <v-col cols="12">
                            <span style="color:red;" v-show="email">Email se encuentra en uso</span>
                            <v-text-field type="email" v-model="agent.email" @input="verifyEmail(agent.email)"
                            placeholder="Email" label="Ingrese su Email"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field type="text" v-model="agent.wallet_num"
                                placeholder="Wallet" label="Billetera LocalBitcoin Aqui"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-row align="center" class="mr-0">
                                <v-col cols="6">
                                    <span style="color:red;" v-show="min < 6">Minimo 6 Digitos</span>
                                    <v-text-field type="password" v-model="agent.password" @input="valpass()"
                                            placeholder="Contraseña" label="Ingrese su Contraseña"
                                    />
                                </v-col>
                                <v-col cols="6">
                                    <span style="color:red;" v-show="agent.password != agent.confirm_pass">La Contraseña debe coincidir con la verificación</span>
                                    <v-text-field type="password" v-model="agent.confirm_pass"
                                        placeholder="Confirme Su Contraña" label="Repita su Contraseña"
                                    />
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
                </v-row>
              <v-card-actions>
                <v-spacer />
                <v-btn :disabled="valid ==1" :loading="loader" @click="register(agent)" color="primary">Registar</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
  </v-app>
</template>

<script>

  export default {
    props: {
      source: String,

    },
    data:()=> ({
      loader: false,
      drawer: null,
      agent: {},
      email: '',
      username: '',
      valid:0,
      min:0,
      eRegist:0,
      errListR:[],
    }),
    computed: {

    },
    methods: {
        register(agent){
          let me = this;
          if (me.validateReg()){
            return;
          }
          me.loader = true;
          axios.post('./register', me.agent)
            .then(response => {
                Swal.fire({
                    position:'top-end',
                    title: `${response.data.message}`,
                    showConfirmButton: false,
                    timer: 2500
                });
                this.operation='';
                this.$router.push({name: 'login'});
            })
            .catch(error => console.log(error))
            .finally(() => this.loader = false);
        },
        valpass(){
            this.min = this.agent.password.length
        },
        validateReg(){
            let me=this;
            me.eRegist=0;
            me.errListR =[];

            if (!me.agent.name)me.errListR.push("Por favor ingrese nombre completo");
            if (!me.agent.username)me.errListR.push("Por favor ingrese su usuario de LocalBitcoin!.");
            if (!me.agent.phone)me.errListR.push("Ingrese un numero telefonico valido");
            if (!me.agent.email)me.errListR.push("Ingrese un email valido");
            if (!me.agent.password)me.errListR.push("Por favor ingrese una contraseña");
            if (!me.agent.confirm_pass)me.errListR.push("Por favor ingrese una contraseña para verificacion");
            if (me.email)me.errListR.push("email Registrado, por favor introduzca otro");
            if (me.username)me.errListR.push("usuario Registrado, por favor introduzca otro");
            if (me.errListR.length) me.eRegist = 1;
            if (me.errListR.length >= 1) {
                Swal.fire({
                    title:'Falta(n) Datos',
                    icon: 'error',
                    confirmButtonText: 'Aceptar!',
                    confirmButtonColor: '#3085d6',
                    html: `${me.errListR.map( er =>`<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`)}`,
                    showCancelButton: false
                });
            };
            return me.eRegist;
        },
        verifyEmail(email){
            let me = this;
            me.axios
            .post('./email-verify', {'email':email})
            .then(response => {
                me.email =response.data.email;
            })
            .catch(error => console.log(error))
            .finally(() => this.loading = false);
        },
        verifyUser(username){
            let me = this;
            me.axios
            .post('./user-verify', {'user':username})
            .then(response => {
                me.username =response.data.user;
            })
            .catch(error => console.log(error))
            .finally(() => this.loading = false);
        }
    }
  }
</script>
