<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Clientes Registrados</v-subheader>
            </v-flex>
            <v-flex xs12>
                <alerts ref="Alerts"> </alerts>
                <v-data-table :headers="headers" :search="search" :items="clients" :items-per-page="10" class="elevation-1"
                @click:row="viewClient">
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-text-field v-model="search"
                            append-icon="search" label="Buscar"
                            single-line hide-details
                            ></v-text-field>

                            <v-divider  class="mx-6" inset vertical ></v-divider>
                            <v-spacer/>

                            <router-link :to="{ name: 'create-client'}">
                                <v-btn bottom color="pink" dark fixed right >
                                    Nuevo Cliente <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </router-link>
                            <v-dialog v-model="dialog" class="" max-width="80%">
                              <v-card>
                                <v-card-title>
                                    <span class="headline" v-text="dialog_title"></span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            v-model="client.name"
                                            :readonly="read"
                                            label="Nombre 'Solo nombres'"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            v-model="client.last_name"
                                            :readonly="read"
                                            label="Apellidos"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            readonly
                                            v-model="client.type_id"
                                            v-if="read"
                                            label="Tipo de documento"
                                            ></v-text-field>
                                            <v-select
                                            v-else
                                            :items="types"
                                            label="Tipo de Documento"
                                            v-model="client.type_id"
                                            item-text="type"
                                            item-value="type"
                                            ></v-select>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            label="Nro de Documento DNI/NIF/..."
                                            v-model="client.dni"
                                            :readonly="read"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            type="date"
                                            v-model="client.expiration_date_dni"
                                            :readonly="read"
                                            label="Fecha de Vecimiento dni"
                                            ></v-text-field>
                                        </v-col>
                                        <v-autocomplete
                                            clearable
                                            v-model="client.nation_id"
                                            :items="countries"
                                            item-text="name"
                                            item-value="id"
                                            prepend-icon="mdi-map"
                                            label="Buscar pais de Nacimiento"
                                        ></v-autocomplete>
                                        <v-autocomplete
                                            clearable
                                            v-model="client.country_id"
                                            :items="countries"
                                            item-text="name"
                                            item-value="id"
                                            prepend-icon="mdi-home-map-marker"
                                            label="Seleccione Pais de Residencia"
                                        ></v-autocomplete>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            v-model="client.phone"
                                            :readonly="read"
                                            label="Agregar telefono sin el Codigo de pais '+34, +58'"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            type="date"
                                            v-model="client.birthdate"
                                            :readonly="read"
                                            label="Fecha de Nacimiento"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            type="email"
                                            v-model="client.email"
                                            :readonly="read"
                                            label="Email"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                            type="text"
                                            v-model="client.agent_username"
                                            readonly
                                            label="Usuario que lo agrego"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-textarea
                                            v-model="client.notes"
                                            rows="1"
                                            auto-grow
                                            filled
                                            :readonly="read"
                                            color="deep-purple"
                                            label="Informacion del cliente"
                                            prepend-icon="mdi-account-card-details-outline"
                                            ></v-textarea>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-textarea
                                            v-model="client.address"
                                            rows="1"
                                            auto-grow
                                            filled
                                            :readonly="read"
                                            color="deep-purple"
                                            label="Direccion corta del cliente"
                                            prepend-icon="mdi-account-card-details-outline"
                                            ></v-textarea>
                                        </v-col>
                                    </v-row>
                                    <v-row v-if="read">
                                        <v-btn
                                            right
                                            m-1
                                            color="primary"
                                            v-if="client.id_f"
                                            v-show="read == true"
                                            @click="showImage(client.id_f)"
                                        >
                                            Ver dni Frontal
                                            <v-icon ml="2">mdi-camera</v-icon>
                                        </v-btn>

                                        <v-btn
                                            right
                                            m-1
                                            color="primary"
                                            v-if="client.id_b"
                                            v-show="read == true"
                                            @click="showImage(client.id_b)"
                                        >
                                            Ver Posterior
                                            <v-icon ml="2">mdi-camera</v-icon>
                                        </v-btn>

                                        <v-btn
                                            right
                                            m-1
                                            color="primary"
                                            v-if="client.term_selfie"
                                            v-show="read == true"
                                            @click="showImage(client.term_selfie)"
                                        >
                                            Ver Selfie de terminos
                                            <v-icon ml="2">mdi-camera</v-icon>
                                        </v-btn>

                                        <v-btn
                                            right
                                            m-1
                                            color="primary"
                                            v-if="client.auth_image"
                                            v-show="read == true"
                                            @click="showImage(client.auth_image)"
                                        >
                                            Ver Terminos Aceptados
                                            <v-icon ml="2">mdi-camera</v-icon>
                                        </v-btn>
                                        </v-row>
                                    </v-row>
                                    <v-row v-else>
                                        <v-col cols="12" md="6">
                                            <span v-text="client.id_f ? 'Cambiar Imagen' : 'Guardar Una Imagen'"></span>
                                            <v-file-input required  show-size
                                                v-model="id_f"
                                                placeholder="Cargar Foto Frontal"
                                                label="Foto 1 Dni / Pasaporte / Id / Nie"
                                                prepend-icon="mdi-camera"
                                            >
                                            <template v-slot:selection="{ text }">
                                                <v-chip small label color="primary"> {{ text }} </v-chip>
                                            </template>
                                            </v-file-input>
                                        </v-col>
                                        <v-col cols="12" md="6" >
                                            <span v-text="client.id_b ? 'Cambiar Imagen' : 'Guardar Una Imagen'"></span>
                                            <v-file-input
                                                v-model="id_b"
                                                placeholder="Cargar Foto Posterior"
                                                label="Foto 2 Dni / Pasaporte / id / Nie / Licencia de conducir" show-size
                                                prepend-icon="mdi-camera"
                                            >
                                                <template v-slot:selection="{ text }">
                                                    <v-chip small label color="primary"> {{ text }} </v-chip>
                                                </template>
                                            </v-file-input>
                                        </v-col>
                                        <v-col cols="12" md="6" >
                                            <span v-text="client.auth_image ? 'Cambiar Imagen' : 'Guardar Una Imagen'"></span>
                                            <v-file-input
                                                v-model="auth_image"
                                                placeholder="Foto de Aceptar Terminos."
                                                label="Foto de terminos Aceptados Junto con Identificacion Usada" show-size
                                                prepend-icon="mdi-camera"
                                            >
                                                <template v-slot:selection="{ text }">
                                                    <v-chip small label color="primary"> {{ text }} </v-chip>
                                                </template>
                                            </v-file-input>
                                        </v-col>
                                        <v-col cols="12" md="6" >
                                            <span v-text="client.term_selfie ? 'Cambiar Imagen' : 'Guardar Una Imagen'"></span>
                                            <v-file-input
                                                v-model="term_selfie"
                                                placeholder="Foto Selfie con Documentos"
                                                label="Foto Selfie con documentos de Identificacion y terminos aceptados." show-size
                                                prepend-icon="mdi-camera"
                                            >
                                                <template v-slot:selection="{ text }">
                                                    <v-chip small label color="primary"> {{ text }} </v-chip>
                                                </template>
                                            </v-file-input>
                                        </v-col>
                                    </v-row>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>

                                    <v-btn color="blue darken-1" text @click="closeDialog()">Cerrar</v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1 white--text" v-if="!read" :loading="saving" @click="updateClient()">Actualizar</v-btn>
                                </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog v-model="dialog2" class="" max-width="70%">
                              <v-card>
                                <v-card-title>
                                    <span class="headline">Imagen Cargada</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-img :src="`${img}`" class="img-responsive" contain
                                            />
                                        </v-row>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="dialog2=false">Cerrar</v-btn>
                                </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.approved="{item}">
                        <div v-if="item.approved > 0">
                            <span v-if="item.approved == 1">En Revision
                                <v-icon medium color="yellow ">mdi-check</v-icon>
                            </span>
                            <span v-if="item.approved == 2">Cliente aprobado
                                <v-icon color="green ">mdi-check-all</v-icon>
                            </span>
                        </div>

                        <span v-else>Faltan Documentos
                            <v-icon medium color="red ">mdi-alert-rhombus</v-icon>
                        </span>

                    </template>
                    <template v-slot:item.actions="{ item }">
                      <div v-if="item.approved">
                        <v-icon medium class="mr-2" v-if="item.approved != 2"
                        @click="editItem(item)">
                          mdi-pencil
                        </v-icon>
                      </div>
                      <v-icon v-if="item.active ==0 || item.active ==null && item.approved == 0" medium @click="deleteClient(item.id)"  >
                        mdi-close-outline
                      </v-icon>
                    </template>

                </v-data-table>
            </v-flex>
        </v-container>
    </v-layout>

</template>

<script>
// import apis from '../../helpers/client.js'
export default {
        data() {
            return {
                id:0,
                name:'',
                dni:'',
                phone:'',
                email:'',
                notes:'',
                active:0,
                user:'',
                search:'',
                approved:0,
                id_f:'',
                id_b:'',
                term_selfie: '',
                auth_image: '',
                agent_id: '',
                img: '',
                user_data:[],
                clients: [],
                client: {},
                dialog:false,
                dialog2:false,
                block:false,
                photo:false,
                dialog_title:'',
                read: true,
                turn:0,
                saving: false,
                headers: [
                    {
                        text:'id',
                        align: 'right',
                        value: 'id',
                        sortable: false
                    },
                    {
                        text:'Nombre Completo',
                        align: 'center',
                        value: 'name',
                    },
                    {
                        text:'Documento de Identidad',
                        align: 'right',
                        value: 'dni',
                    },
                    {
                        text:'Telefono',
                        align: 'right',
                        value: 'phone',
                    },
                    {
                        text: 'Estado',
                        align: 'right',
                        value: 'approved',
                    },
                    {
                        text: 'Opciones',
                        value: 'actions',
                        sortable: false
                    }
                ],
                types: [
                    {
                        name: 'Dni',
                        id: 'dni',
                    },
                    {
                        name: 'Pasaporte',
                        id: 'pass',
                    },
                    {
                        name: 'Nie',
                        id: 'nie',
                    },
                    {
                        name: 'Otro',
                        id: 'other',
                    },
                ],

            }
        },
        computed:{
            currentUser() {
                return this.$store.getters.currentUser
            }
        },
        methods: {
            index() {
                let me = this;
                me.user = me.currentUser;
                axios
                    .get('/api/agents/agent-clients/')
                    .then(response => {
                        me.clients = response.data.clients;
                    });
            },
            closeDialog(){
                let me = this;
                me.client= {};
                me.dialog_title='Detalle de Cliente';
                me.dialog = false;
                me.read=true;
                me.id_f = '';
                me.id_b = '';
                me.term_selfie = '';
                me.auth_image = '';
            },
            showPhoto() {
                let me = this;
                me.dialog_title='';
                me.photo = true;

            },
            viewClient(item, row) {
                let me = this;
                me.client = row.item
                me.dialog_title='Detalle de Cliente';
                if (me.block == true) {
                    me.dialog = false;
                } else {
                    me.dialog = true;
                }
            },
            desactiveClient(id){
                this.block = true;
                Swal.fire({
                    title: 'Esta seguro de inactivar al Cliente?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        axios.post('/api/clients/desactive', {
                            'id': id,
                            _method: 'put'
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Anulado!',
                                'Cliente desactivado con éxito.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'NO se ha podido anular.',
                                'warnig'
                                )
                        });
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                        ){

                    }
                    this.block = false;
                })

            },
            activeClient(id){
                this.block = true;
                Swal.fire({
                    title: 'Activar el cliente?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        axios.post('/api/clients/activate', {
                            'id': id,
                            _method: 'put'
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Exito!',
                                'El Cliente dado de alta con éxito.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'Cliente no activado.',
                                'warnig'
                                )
                        });
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                        ){

                    }
                    this.block = false;
                })
            },
            editItem (item) {
                let me = this;
                me.turn = 2;
                me.dialog_title='Actualizar Cliente';
                me.client = item;
                me.read = false;
                if (me.block == true) {
                    me.dialog = false;
                } else {
                    me.dialog = true;
                }
            },
            data(){
                let me = this
                let data =new FormData();
                if (me.id_f) {
                    data.append('id_f', me.id_f);
                }
                if (me.id_b) {
                    data.append('id_b', me.id_b);
                }
                if (me.term_selfie) {
                    data.append('term_selfie', me.term_selfie);
                }
                if (me.auth_image) {
                    data.append('auth_image', me.auth_image);
                }
                if (me.client.notes) {
                    data.append('notes', me.client.notes);
                }

                if (me.client.birthdate) {
                    data.append('birthdate', me.client.birthdate);
                }

                if (me.client.phone) {
                    data.append('phone', me.client.phone);
                }

                if (me.client.dni) {
                    data.append('dni', me.client.dni);
                }

                if (me.client.email) {
                    data.append('email', me.client.email);
                }
                data.append('name', me.client.name);
                data.append('agent_id', (me.currentUser.agent_id ? me.currentUser.agent_id : ''));
                data.append('_method', 'put');
                return data;
            },
            updateClient() {
                let me = this
                if (me.validateClient()) {
                    return;
                }
                me.saving = true
                const data = me.data();
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                axios.post(`/api/clients/update/${me.client.id}`,data)
                    .then(response => {
                        me.index();
                        me.closeDialog();
                        Swal.fire({
                            position:'top-end',
                            icon: 'success',
                            title: `${response.data.message}`,
                            timer: 3000
                        });
                    })
                    .catch(error => console.log(error))
                    .finally(() => me.saving = false);

            },
            validateClient(){
                let me=this;
                me.eClient=0;
                me.errListC =[];

                if (!me.client.name)me.errListC.push("Por favor ingrese nombre completo");
                // if (!me.client.dni)me.errListC.push("Por favor ingrese una identificacion Valida!.");
                // if (!me.client.phone)me.errListC.push("Ingrese un numero telefonico valido");
                // if (!me.client.email)me.errListC.push("Ingrese un email valido");
                // if (!me.client.id_b)me.errListC.push("Por favor cargue una Foto DNI/PASAPORTE/NIE POSTERIOR");
                // if (!me.client.id_f)me.errListC.push("Por favor cargue una Foto DNI/PASAPORTE/NIE");

                // if (!me.client.auth_image)me.errListC.push("Por favor cargue una Foto de los Terminos y Condiciones Aceptados y Firmados");

                // if (!me.client.term_selfie)me.errListC.push("Por favor cargue una Foto Selfie con la Hoja de Terminos aceptados, Firmada.");

                if (me.email)me.errListC.push("E-mail Registrado, por favor introduzca otro");
                if (me.phone)me.errListC.push("Telefono registrado, por favor introduzca otro");
                if (me.dni)me.errListC.push("Documento registrado, verifique si el Cliente esta registrado Cuando realize un Pago.");
                if (me.errListC.length) me.eClient = 1;
                if (me.errListC.length >= 1) {
                    Swal.fire({
                        title:'Falta(n) Datos',
                        icon: 'error',
                        confirmButtonText: 'Aceptar!',
                        confirmButtonColor: '#3085d6',
                        html: `${me.errListC.map( er =>`<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`)}`,
                        showCancelButton: false
                    });
                };
                return me.eClient;
            },
            deleteClient(id){
                this.block = true;
                Swal.fire({
                    title: 'Esta seguro de eliminar al Cliente?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        axios.post(`/api/clients/destroy/${id}`,{
                            _method: 'delete'
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Exito!',
                                'Cliente Eliminado con éxito.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'NO se ha podido eliminar.',
                                'warning'
                                )
                        });
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                        ){

                    }
                    this.block = false;
                })
            },
            show(img){
                let me = this
                me.img = img;
                me.dialog2 = true;
            }
        },
        mounted() {
            this.index();
        }
    }
</script>
<style>
    .v-data-table table tr {
        cursor: pointer
    }
</style>
