<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Realizar pago</v-subheader>
            </v-flex>
            <v-flex xs12>
              <v-card v-show="term">
                  <v-card-title>
                      <v-btn
                        @click="term =0"
                        color="blue-grey"
                        class="ma-1 white--text"
                        > Aceptar Condiciones
                            <v-icon small right dark> mdi-check-all </v-icon>
                        </v-btn>
                  </v-card-title>
                  <v-card-text>
                      <agent-terms ref="AgentTerms"></agent-terms>
                  </v-card-text>
                  <v-card-actions>
                      <v-btn
                        @click="term =0"
                        color="blue-grey"
                        class="ma-1 white--text"
                        > Aceptar Condiciones
                            <v-icon small right dark> mdi-check-all </v-icon>
                        </v-btn>
                  </v-card-actions>
              </v-card>
              <v-card>
                <v-card-title>
                    <v-btn right color="primary" @click="dialog = true">Buscar cliente</v-btn>
                </v-card-title>
                <v-container>
                  <v-row class="m-0">
                    <v-col class="align-center justify-space-between" cols="12">
                      <v-row align="center" class="mr-0">
                          <v-col cols="3" md="2">
                              <v-text-field type="text" prepend-inner-icon="mdi-account-location" readonly v-model="client.id" label="Id Cliente " />
                          </v-col>
                          <v-col cols="6" md="4">
                              <v-text-field type="text" readonly v-model="client.name"
                              label="Nombre de Cliente"/>
                          </v-col>
                          <v-col cols="6" md="2">
                              <v-text-field type="text" readonly v-model="client.dni"
                              label="Dni Cliente"/>
                          </v-col>
                          <v-col cols="6" md="2">
                              <v-text-field type="text" readonly v-model="client.phone"
                              label="Telefono Cliente"/>
                          </v-col>
                          <v-col cols="6" md="2">
                              <v-text-field type="text" readonly v-model="client.accumulated"
                              label="Monto Acumulado"/>
                          </v-col>
                      </v-row>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                        <v-autocomplete clearable prepend-inner-icon="mdi-bank-outline"
                        v-model="pay.bank_id" :items="banks"
                            :filter="bankFilter" color="white"
                            item-text="name" item-value="id"
                            label="Escriba nombre del Banco y Seleccione"
                        ></v-autocomplete>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                      <v-autocomplete prepend-icon="mdi-account-box-outline"
                        clearable v-model="pay.client_id"
                        :items="clients" @input="selectClient(pay.client_id)"
                        item-text="name" item-value="id" :loading="cliLoading"
                        label="Escriba nombre del Cliente y Seleccione">
                      </v-autocomplete>
                  </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                        <span style="color:red;" v-show="!pay.active">Seleccione tipo de pago</span>
                        <v-select
                        v-model="pay.active" item-value="id"
                        :items="active" item-color="color"
                        prepend-inner-icon="mdi-bank-transfer"
                        label="Selec. Tipo de pago"
                        >
                            <template slot='selection' slot-scope='{ item }'>
                              <template>
                                  <v-list-item-content>
                                    <v-list-item-title :class="item.color+'--text'" v-html="item.text"></v-list-item-title>
                                  </v-list-item-content>
                              </template>
                            </template>
                            <template
                              slot='item'
                              slot-scope='{item}'
                            >
                              <template>
                                  <v-list-item-content>
                                    <v-list-item-title :class="item.color+'--text'" v-html="item.text"></v-list-item-title>
                                  </v-list-item-content>
                              </template>
                            </template>
                            <!-- <template slot='item' slot-scope='{ item }'>
                                {{ item.id }} {{ item.text }}
                            </template> -->
                        </v-select>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                        <span style="color:red;" v-show="price.amount == 0 ">Seleccione una Moneda</span>
                        <v-select @input="calcPrice()"
                        v-model="price_select" item-value="id"
                        :items="prices" prepend-inner-icon="mdi-cash"
                        label="Seleccione Moneda de pago"
                        >
                            <template slot='selection' slot-scope='{ item }'>
                                {{ item.calc_format }} {{ item.iso }}
                            </template>
                            <template slot='item' slot-scope='{ item }'>
                                {{ item.calc_format }} {{ item.iso }}
                            </template>
                        </v-select>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="3">
                        <v-text-field type="number" v-model="amount" prepend-inner-icon="mdi-currency-eur" label="Monto depositado"
                          placeholder="Monto" required @input="calcBtc"
                        />
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="3">
                        <v-text-field disabled type="number" label="Total BTC transferir" v-model="total_btc" placeholder="Total Btc"
                        required prepend-icon="mdi-currency-btc"
                        />
                    </v-col>
                    <v-col cols="12" md="8">
                        <v-row align="center" class="mr-0">
                            <v-col class="align-center justify-space-between" cols="8">
                                <v-autocomplete clearable prepend-inner-icon="mdi-bank-outline"
                                v-model="pay.operation_method"
                                    :items="methods" :filter="methodFilter"
                                    color="white"  item-text="name"
                                    item-value="method" @change="operation()"
                                    label="Seleccione metodo de pago"
                                ></v-autocomplete>
                            </v-col>
                            <v-col v-if="pay.operation_method == 'deposit' " cols="8" md="4">
                                <v-text-field type="number" v-model="pay.agency_num" placeholder="N° cajero"/>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-file-input v-model="file" show-size filled
                          :rules="rules" accept="image/png, image/jpeg, image/bmp"
                          placeholder="Insertar imagen JPG / PNG / BMP" prepend-icon="mdi-camera"
                          label="Imagen - Captura de Trasferencia o Deposito "
                        ></v-file-input>
                    </v-col>
                    <v-col cols="12" md="6">
                      <v-text-field type="text"
                        prepend-icon="mdi-account-card-details-outline"
                        placeholder="Breve descripcion" v-model="pay.description"/>
                    </v-col>
                  </v-row>
                </v-container>
                <v-card-actions>
                    <router-link :to="{ name: 'pay'}">
                        <v-btn  text > Cancelar</v-btn>
                    </router-link>

                  <v-btn color="primary" :loading="saving" @click="createPay(pay)" >Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
        </v-container>
    </v-layout>

</template>

<script>
    import AgentTerms from '../vue-helpers/AgentTerms.vue';
    import status from '../../helpers/status';
    export default {
        components:{
            AgentTerms
        },
        data() {
            return {
                id:0,
                agency_num:0,
                agent:{},
                amount:0.0,
                bank_id:0,
                banks:[],
                bank:0,
                client_id:0,
                clients:[],
                client:{},
                currency_id:0,
                date:'',
                file:null,
                iso: '',
                method:'',
                dialog_title:'',
                pay: {},
                price: {
                    discounted: 0,
                    amount_format:0.0,
                    amount_formated: 0.0,
                    notes:'EUR',
                    amonut:0,
                    calcd:0.0
                },
                price_select: 0,
                prices: [],
                price_btc: 0,
                operation_method:'',
                search: null,
                searchAgent:null,
                total_btc:0.0,
                loader:false,
                cliLoading: false,
                saving:false,
                transfer:false,
                term: 1,
                deposit:false,
                dialog:false,
                empty:false,
                headers: [
                    {
                        text: 'Seleccionar',
                        value: 'actions',
                        align: 'center',
                        sortable: false
                    },
                    {
                        text:'id',
                        align: 'center',
                        value: 'id',
                    },
                    {
                        text:'Nombre',
                        align: 'center',
                        value: 'name',
                    },
                    {
                        text:'DNI',
                        align: 'center',
                        value: 'dni',
                    },
                    {
                        text:'Acumulado',
                        align: 'center',
                        value: 'accumulated',
                    },
                ],
                methods: [
                    {
                        name:'Deposito cajero',
                        method: 'deposit',
                        id: 0,
                    },
                    {
                        name:'Transferencia',
                        method: 'transf',
                        id: 1,
                    },
                ],
                rules: [
                    value => !value || value.size < 1000000 || 'El tamaño del archivo debe ser menor a 1 MB!',
                ],
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            },
            calcBtc: function(){
                this.total_btc= parseFloat(this.amount/this.price.calculated).toFixed(8);
            },
            active(){
              return status.active
            }

        },
        methods: {
            showCreate() {
                let me = this;
                me.indexBank();
                me.indexClient();
                me.getPrices();
                me.sale={};
                me.dialog = true;

            },
            getPrices(){
                let me = this;
                axios.get('/api/price/get')
                    .then(response => {
                        me.prices = response.data.prices;
                    });
            },
            indexBank() {
                let me = this;
                axios
                    .get('/api/banks/active')
                    .then(response => {
                        me.banks = response.data.banks;
                });
            },
            indexClient() {
                let me = this;
                me.cliLoading = true
                axios.get('/api/clients/clients-approveds')
                    .then(response => {
                        me.clients = response.data.clients;
                })
                .catch(error => console.log(error))
                .finally(me.cliLoading = false);
            },
            selectClient(item) {
                let me = this;
                console.log(item);
                if (item) {
                  me.client = me.clients.filter(cli => cli.id == item)[0];
                }
            },
            bankFilter (item, queryText, itemText) {
              const textOne = item.name.toLowerCase()
              const textTwo = item.account_holder.toLowerCase()
              const searchText = queryText.toLowerCase()

               return textOne.indexOf(searchText) > -1 ||
                textTwo.indexOf(searchText) > -1

            },
            methodFilter (item, queryText, itemText) {
              const textOne = item.name.toLowerCase()
              const searchText = queryText.toLowerCase()

               return textOne.indexOf(searchText) > -1

            },
            createPay() {
                let me = this;
                if (me.validatePay()) {
                    return;
                }
                me.operation;
                let formData = new FormData();
                if (me.pay.agency_num) {
                    formData.append('agency_num', me.pay.agency_num);
                }

                if (me.file) {
                    formData.append('file', me.file);
                }
                formData.append('agent_id', me.currentUser.agent_id);
                formData.append('client_id', me.pay.client_id);
                formData.append('bank_id', me.pay.bank_id);
                formData.append('description', me.pay.description);
                formData.append('amount', me.amount);
                formData.append('file', me.file);
                formData.append('operation_method', me.pay.operation_method);
                formData.append('price_btc', me.price_btc);
                formData.append('gross_btc', me.price.gross);
                formData.append('active', me.pay.active);
                formData.append('iso', me.iso);
                formData.append('total_btc', me.total_btc);
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
                me.saving = true
                axios.post('/api/pays/store', formData, config)
                  .then(response => {
                    Swal.fire({
                      position:'top-end',
                      icon: 'success',
                      title: `${response.data.message}`,
                      timer: 3000
                    });
                    me.file = null;
                    me.$router.push({name: 'pay'});
                  })
                  .catch(error => console.log(error))
                  .finally(() => me.saving = false);
            },
            validatePay() {
                let me=this;
                me.errPay=0;
                me.errPayL =[];

                if (!me.pay.client_id) me.errPayL.push("Por favor Seleccione un cliente");
                if (!me.file) me.errPayL.push("Por favor cargue una Imagen o Captura de pago");
                if (!me.amount)me.errPayL.push("Por favor ingrese Monto");
                if (!me.pay.bank_id)me.errPayL.push("Por favor Seleccione Banco");
                if (!me.pay.active)me.errPayL.push("Por favor Seleccione Tipo de Pago");
                if (!me.pay.operation_method)me.errPayL.push("Por favor Seleccione un metodo de Pago");
                if (me.errPayL.length) me.errPay = 1;
                if (me.errPayL.length >= 1) {
                    Swal.fire({
                        title:'Falta(n) Datos',
                        icon: 'info',
                        confirmButtonText: 'Aceptar!',
                        confirmButtonColor: '#3085d6',
                        html: `${me.errPayL.map( er =>`<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`)}`,
                        showCancelButton: false
                    });
                };
                return me.errPay;
            },
            operation(){
                let me = this;
                if (me.pay.operation_method == 'transf') {
                    me.pay.agency_num = '';
                }
            },
            getAgent(){
                if (this.currentUser) {
                    let me = this;
                    axios
                        .get(`/api/agents/get/${this.currentUser.id}`)
                        .then(response => {
                            me.agent = response.data;
                    });
                }
            },
            calcPrice(){
                let me = this;
                me.price_btc=0.0;
                me.price = {};

                me.price = me.prices.find( x => x.id == me.price_select);

                var calculated = me.price.calculated;

                me.price.seted = calculated;
                me.iso = me.price.iso;
                me.price_btc = calculated.toFixed(2);
                me.currency_id = me.price.currency_id;
            },
        },
        mounted() {
            this.showCreate();
        }
    }
</script>
