<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Actualizar pago</v-subheader>


            </v-flex>
            <v-flex xs12>
              <v-card>
                <v-container>
                  <v-row class="m-0">
                    <v-col class="align-center justify-space-between" cols="12">
                      <v-row align="center" class="mr-0">
                          <v-col cols="3" md="2">
                              <v-text-field type="text" prepend-inner-icon="mdi-account-location" readonly v-model="client.id" label="Id Cliente " />
                          </v-col>
                          <v-col cols="8" md="4">
                              <v-text-field type="text" readonly v-model="client.name"
                              label="Nombre de Cliente"/>
                          </v-col>
                          <v-col cols="6" md="2">
                              <v-text-field type="text" readonly v-model="client.dni"
                              label="Dni Cliente"/>
                          </v-col>
                          <v-col cols="6" md="2">
                              <v-text-field type="text" readonly v-model="client.phone"
                              label="Telefono Cliente"/>
                          </v-col>
                          <v-col cols="6" md="2">
                              <v-text-field type="text" readonly v-model="client.accumulated"
                              label="Monto Acumulado"/>
                          </v-col>
                      </v-row>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                      <v-row align="center" class="mr-0">
                        <v-icon mx-2>
                            mdi-bank-outline
                        </v-icon>
                          <v-autocomplete clearable
                            v-model="pay.bank_id"
                              :items="banks"
                              :filter="bankFilter"
                              color="white"
                              item-text="name"
                              item-value="id"
                              label="Escriba nombre del Banco y Seleccione"
                            ></v-autocomplete>
                        </v-row>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                      <v-autocomplete prepend-icon="mdi-account-box-outline"
                        clearable v-model="pay.client_id"
                        :items="clients" @input="selectClient(pay.client_id)"
                        item-text="name" item-value="id"
                        label="Escriba nombre del Cliente y Seleccione">
                      </v-autocomplete>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="8" md="4">
                        <span style="color:red;" v-show="!pay.active">Seleccione tipo de pago</span>
                        <v-select
                        v-model="pay.active" item-value="id"
                        :items="active" item-color="color"
                        prepend-inner-icon="mdi-bank-transfer"
                        label="Selec. Tipo de pago"
                        >
                            <template slot='selection' slot-scope='{ item }'>
                              <template>
                                <v-list-item-content>
                                  <v-list-item-title :class="item.color+'--text'" v-html="item.text"></v-list-item-title>
                                </v-list-item-content>
                              </template>
                            </template>
                            <template
                              slot='item'
                              slot-scope='{item}'
                            >
                              <template>
                                <v-list-item-content>
                                  <v-list-item-title :class="item.color+'--text'" v-html="item.text"></v-list-item-title>
                                </v-list-item-content>
                              </template>
                            </template>
                        </v-select>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="4" md="3">
                      <v-row align="center" class="mr-0">
                        <v-text-field type="text" readonly
                        v-model="Number(pay.price_btc).toLocaleString()"
                          placeholder="Precio Btc" label="Precio Btc"
                          prepend-inner-icon="mdi-currency-eur"
                        />
                      </v-row>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="3" md="2">
                      <v-row align="center" class="mr-0">
                        <v-text-field type="number" v-model="amount" prepend-inner-icon="mdi-currency-eur" label="Monto pagado"
                          placeholder="Monto" required @input="calcBtc"
                        />
                      </v-row>
                    </v-col>
                    <v-col class="align-center justify-space-between" cols="4" md="3">
                        <v-row align="center" class="mr-0">
                            <v-text-field disabled type="number" label="Total BTC transferir" v-model="total_btc" placeholder="Total Btc"
                            required prepend-icon="mdi-currency-btc"
                            />
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="8">
                        <v-row align="center" class="mr-0">
                            <v-col class="align-center justify-space-between" cols="6">
                              <v-row align="center" class="mr-0">
                                <v-icon mx-2>
                                    mdi-bank-outline
                                </v-icon>
                                  <v-autocomplete clearable
                                    v-model="pay.operation_method"
                                      :items="methods" :filter="methodFilter"
                                      color="white"  item-text="name"
                                      item-value="method"
                                      label="Seleccione metodo de pago"
                                  ></v-autocomplete>
                                </v-row>
                            </v-col>
                            <v-col v-if="pay.operation_method == 'deposit' " cols="6">
                                <v-text-field type="number" v-model="pay.agency_num" placeholder="N° cajero"/>
                            </v-col>
                        </v-row>
                    </v-col>

                    <v-col cols="6">
                      <v-text-field type="text" prepend-icon="mdi-account-card-details-outline" placeholder="Breve descripcion" v-model="pay.description"/>
                    </v-col>
                  </v-row>
                </v-container>
                <v-card-actions>
                    <router-link :to="{ name: 'pay'}">
                        <v-btn  text> Cancelar</v-btn>
                    </router-link>

                  <v-btn color="primary" :loading="loader" @click="updatePay(pay)" >Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
        </v-container>
    </v-layout>

</template>

<script>
import status from '../../helpers/status';
export default {
        data() {
            return {
                id:0,
                client_id:0,
                bank_id:0,
                agency_num:0,
                banks:[],
                bank:0,
                clients:[],
                client:{},
                amount:0.0,
                operation_method:'',
                date:'',
                method:'',
                dialog_title:'',
                pay: {},
                price:{},
                price_btc:0.0,
                total_btc:0.0,
                search: null,
                searchAgent:null,
                loader:false,
                loader2:false,
                transfer:false,
                deposit:false,
                dialog:false,
                saving: false,
                headers: [
                    {
                        text:'id',
                        align: 'right',
                        value: 'id',
                    },
                    {
                        text:'Nombre',
                        align: 'right',
                        value: 'name',
                    },
                    {
                        text:'DNI',
                        align: 'right',
                        value: 'dni',
                    },
                    {
                        text:'Acumulado',
                        align: 'right',
                        value: 'accumulated',
                    },
                    { text: 'Opciones', value: 'actions', sortable: false }
                ],
                methods: [
                    {
                        name:'Deposito cajero',
                        method: 'deposit',
                        id: 0,
                    },
                    {
                        name:'Transferencia',
                        method: 'transf',
                        id: 1,
                    },
                ],
            }
        },
        computed: {
            operation: function(){
                var oper = this.pay.operation_method;

                if (oper = 'transf') {
                        this.pay.agency_num='';
                }
                return oper;
            },
            currentUser() {
                return this.$store.getters.currentUser
            },
            calcBtc: function(){
                this.total_btc= parseFloat(this.amount/this.pay.price_btc).toFixed(8);
            },
            active(){
              return status.active
            }

        },
        methods: {
            editItem() {
                let me = this;

                me.axios
                    .get(`/api/pays/edit/${me.$route.params.id}`)
                    .then(response => {
                      var res = response.data
                        if (me.currentUser.agent_id == res.agent_id ) {
                          if (res.active !=1 && res.active != 3 ) {
                              me.pay = res;
                              me.client = me.pay.client;
                              me.price_btc = me.pay.price_btc;
                              me.total_btc = me.pay.total_btc;
                              me.amount = me.pay.amount;
                              me.indexBank();
                              me.indexClient();
                            } else {
                              me.$router.push({name: 'agent-home'});
                            }
                        } else {
                          me.$router.push({name: 'agent-home'});
                        }

                    });
                me.dialog_title='Actualizar';
            },
            indexBank() {
                let me = this;
                axios.get('/api/banks')
                    .then(response => {
                        me.banks = response.data.banks;
                });
            },
            indexClient() {
                let me = this;
                axios.get('/api/clients/clients-approveds')
                    .then(response => {
                        me.clients = response.data.clients;
                })
                .catch(error => console.log(error));
            },
            selectClient(item) {
                let me = this;
                if (item) {
                  me.client = me.clients.filter(cli => cli.id == item)[0];
                }
                me.dialog = false;
            },
            bankFilter (item, queryText, itemText) {
              const textOne = item.name.toLowerCase()
              const textTwo = item.account_holder.toLowerCase()
              const searchText = queryText.toLowerCase()

               return textOne.indexOf(searchText) > -1 ||
                textTwo.indexOf(searchText) > -1

            },
            methodFilter (item, queryText, itemText) {
              const textOne = item.name.toLowerCase()
              const searchText = queryText.toLowerCase()

               return textOne.indexOf(searchText) > -1

            },
            updatePay() {
                let me = this;
                me.pay.total_btc= me.total_btc;
                me.pay.amount= me.amount;
                me.pay._method= 'put';
                if (me.validatePay()) {
                    return;
                }
                me.loader = true
                axios.post(`/api/pays/update/${me.$route.params.id}`, me.pay)
                    .then(response => {
                        Swal.fire({
                            position:'top-end',
                            title: `${response.data}`,
                            timer: 3000
                        });
                        me.$router.push({name: 'pay'});
                    })
                    .catch(error => console.log(error))
                    .finally(() => me.loader = false)

            },
            validatePay() {
                 let me=this;
                me.errPay=0;
                me.errPayL =[];

                if (!me.pay.client_id) me.errPayL.push("Por favor Selecione un cliente");
                if (!me.amount)me.errPayL.push("Por favor ingrese Monto");
                if (!me.pay.bank_id)me.errPayL.push("Por favor Seleccione Banco");
                if (!me.pay.operation_method)me.errPayL.push("Por favor Seleccione un metodo de Pago");
                if (me.errPayL.length) me.errPay = 1;
                if (me.errPayL.length >= 1) {
                    Swal.fire({
                        title:'Falta(n) Datos',
                        icon: 'info',
                        confirmButtonText: 'Aceptar!',
                        confirmButtonColor: '#3085d6',
                        html: `${me.errPayL.map( er =>`<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`)}`,
                        showCancelButton: false
                    });
                };
                return me.errPay;
            }
        },
        mounted() {
            this.editItem   ();
        }
    }
</script>
