<template>
    <v-layout row wrap m-2 style="margin-bottom: 40px !important">
        <v-flex xs12>
            <v-subheader>Pagos Realizados</v-subheader>
        </v-flex>

        <v-flex xs12 mb-5>
            <v-card>
              <v-card-title primary-title>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field class="px-5"
                      v-model="search" append-icon="mdi-magnify"
                      label="Escriba para buscar Su pago por cualquier parametro"
                      single-line hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-divider class="mx-2" inset vertical></v-divider>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ attrs, on }">
                            <v-btn bottom v-bind="attrs" v-on="on"
                                color="primary" @click="index()" dark left
                                mb-5 mr-5>
                                <v-icon>mdi-reload</v-icon>
                            </v-btn>
                        </template>
                        <span>Re-cargar Lista</span>
                    </v-tooltip>
                    <v-divider class="mx-2" inset vertical></v-divider>
                    <router-link :to="{ name: 'create-pay'}">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ attrs, on }">
                                <v-btn bottom v-bind="attrs" v-on="on"
                                    color="pink" dark right mb-5>
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                            <span>Nuevo Pago</span>
                        </v-tooltip>
                    </router-link>
                </v-col>
                <v-col cols="12">
                  <span class="text--primary">
                      Estado del Pago:
                  </span>
                  <span v-for="r in rowOrder" :key="r.active" class="display-1 mx-2 text--primary">
                    <v-chip :color="r.color" v-if="r.active" dark>{{ r.text}}</v-chip>
                  </span>
                </v-col>
                </v-row>
              </v-card-title>
              <v-data-table :headers="headers" :search="search" :items="sales" :items-per-page="10" class="elevation-1"
              :footer-props="{ 'items-per-page-options': [10, 50, 70, 100] }" >
                  <template v-slot:item.id="{ item }">
                      <v-chip :color="getColor(item.active)" dark>{{ item.id }}</v-chip>
                  </template>
                  <template v-slot:item.amount_formated="{ item }">
                      <div>{{ item.amount_formated}} {{ item.iso }}</div>
                  </template>
                  <template v-slot:item.operation_method="{item}">
                      <div v-if="item.operation_method == 'transf'">Transferencia</div>
                      <div v-else >Deposito</div>
                  </template>
                  <template v-slot:item.file="{item}">

                      <v-icon v-if="item.file" medium @click="showImage(item)"> mdi-camera </v-icon>
                      <div v-else>Sin archivos</div>
                  </template>
                  <template v-slot:item.active="{item}">
                    <div v-if="item.active==0"><v-chip :color="'orange'" dark>En Revision</v-chip></div>
                    <div v-else v-for="s in rowOrder" :key="s.active">
                      <div v-if="item.active==s.active"><v-chip :color="s.color" dark>{{s.text}}</v-chip></div>
                    </div>
                  </template>
                  <template v-slot:item.actions="{ item }">
                      <router-link v-if="item.active ==0 || item.active ==2 || item.active == 4" :to="{name: 'edit-pay', params: { id: item.id }}">
                          <v-icon medium class="mr-2"> mdi-pencil </v-icon>
                      </router-link>

                      <v-btn v-if="item.active ==0 || item.active ==null || item.active == 2 || item.active == 4" @click="deleteSale(item.id)"
                      color="deep-orange" x-small
                      class="ma-1 white--text"
                      > Eliminar
                          <v-icon small right dark>  mdi-close-outline </v-icon>
                      </v-btn>

                  </template>
              </v-data-table>
            </v-card>
        </v-flex>
        <v-row class="mx-2">
            <v-dialog v-model="turn" cols="8">
                <v-card>
                <v-card-title class="grey darken-2">
                    Referencia de Pago
                </v-card-title>
                <v-card-text>
                    <v-row class="mx-2">
                      <v-col class="align-center justify-space-between" cols="12">
                          <v-img :src="'..'+sale.file"
                              aspect-ratio="1.5" max-height="400px" contain
                          />
                      </v-col>

                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-btn  text color="primary"
                    @click="turn = false" > Cerrar</v-btn>
                    <v-btn text @click="imgDownload()" >Descagar Imagen</v-btn>
                </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-layout>

</template>

<script>
import apis from '../../helpers/sale.js'
import status from '../../helpers/status';
export default {
        data() {
            return {

                id:0,
                agent_id:0,
                agency_num:0,
                agents:[],
                dialog_title:'',
                turn:false,
                sales: [],
                sale: {},
                search:'',
                img:'',
                loading:false,
                headers: [
                     {
                        text:'N° Oper',
                        align: 'left',
                        value: 'id',
                    },
                    {
                        text:'Cliente',
                        align: 'center',
                        value: 'client.name',
                    },
                    {
                        text:'Monto',
                        align: 'center',
                        value: 'amount_formated',
                    },

                    {
                        text:'Precio BTC',
                        align: 'center',
                        value: 'price_formated',
                    },

                    {
                        text:'Monto BTC',
                        align: 'center',
                        value: 'total_formated',
                    },
                    {
                        text:'Banco',
                        align: 'center',
                        value: 'bank.name',
                    },
                    {
                        text:'Fecha',
                        align: 'center',
                        value: 'created_at',
                    },
                    {
                        text:'Methodo de pago',
                        align: 'center',
                        value: 'operation_method',
                    },
                    {
                        text:'Refenrecia',
                        align: 'center',
                        value: 'agency_num',
                    },
                    {
                        text: 'Imagen',
                        align: 'center',
                        value: 'file',
                    },
                    {
                        text: 'Estado',
                        align: 'center',
                        value: 'active',
                    },
                    { text: 'Opciones', value: 'actions', sortable: false }
                ],
                methods: [
                    {
                        name:'Deposito cajero',
                        method: 'deposit',
                        id: 0,
                    },
                    {
                        name:'Transferencia',
                        method: 'transf',
                        id: 1,
                    },
                ]
            }
        },
        computed: {
            operation: function(){
                var oper = this.sale.operation_method;

                if (oper = 'transf') {
                        this.sale.agency_num='';
                }
                return oper;
            },
            currentUser() {
                return this.$store.getters.currentUser
            },
            rowOrder(){
              return status.status
            }

        },
        methods: {
            index() {
                let me = this;
                var user = this.currentUser;
                me.axios
                    .get(`/api/pays/agent/${user.agent_id}`)
                    .then(response => {
                        me.sales = response.data.sales;
                });
            },
            desactivePay(id){
                Swal.fire({
                    title: 'Esta seguro de anular este Pago?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        console.log(id);
                        axios.post('/api/pays/desactive', {
                            'id': id,
                            _method: 'put'
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Anulado!',
                                'El pago ha sido anulada con éxito.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'Error, el pago no ha sido anulada con exito.',
                                'info'
                                )
                        });
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                        ){

                    }
                })
            },
            deleteSale(id){
                Swal.fire({
                    title: 'Esta seguro de eliminar Pago?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        console.log(id);
                        axios.post(`/api/pays/destroy/${id}`,{
                            _method: 'delete'
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Exito!',
                                'Pago Eliminada con éxito.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'NO se ha podido eliminar.',
                                'warning'
                                )
                        });
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                        ){

                    }
                })
            },
            showImage(item){
                let me = this;
                me.sale= item;
                me.img = item.file;
                me.turn = true;
            },
            imgDownload(){
                window.open('/api/pays/img/'+ this.sale.id);
            },
            getColor (active) {

              const obj = this.rowOrder.find(function(item) {
                  return item.active == active
              });
              return obj.color;
            },

        },
        mounted() {
            this.index();
        }
    }
</script>
<style>
  .col, .col-12 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
</style>
